@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fonte1: 'Montserrat', sans-serif;
    --cor01: #f0f2f5d2;
    --cor02: #4DED69;

}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: var(--fonte1);

}

html, body {
    min-height: 100%;
}



body {

    background-color: #EFF0F1;



}

header {
    display: flex;
    width: 100%;
    height: 100px;

    background: linear-gradient(90deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);


    align-items: center;
    margin-bottom: 15px;

}

h1 {
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin: 20px;


}

#contaner-alerta{
    height: 45px;
}

#alerta{

  display: none;
    background-color: rgb(49, 54, 49);
    color: #4DED69;
   width: 250px;
   padding: 5px;
   text-align: center;
   justify-content: center;
    border-radius: 5px;
    margin: 0 auto;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    

  
  
      
    

}


section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    background-color: white;
    margin: 0px auto;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 5%);

}

main.contaner1 {
    width: 56%;
    padding: 0px;



}


main.contaner2 {
    width: 38%;
    padding: 0px;
    text-align: right;
    margin: 10px;
    justify-content: center;


}

input {
    width: 85%;
    height: 40px;
    background-color: var(--cor01);
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #d9e0e383;
    outline: none !important;
    padding: 5px 5px;
}

input:focus {
    background-color: rgba(252, 253, 200, 0.87);
    border: 1px solid #3e9ef8;
}

/*chome*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*mozila*/
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}


.botoes {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 5px;



}

button {
    width: 65%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #f0f2f5;
    border: 1px solid #81bef7;
    border-radius: 5px;

}

.btnapagar {
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #81bef7;
    border-radius: 5px;

}

button:hover {
    cursor: pointer;
}

label {
    padding: 5px 5px;
    font-size: 15px;
    color: #34363a;
}

.contaner2 p {
    padding: 4px;
    font-size: 14px;
    color: #686564;
}




.resultados {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    margin: 10px;
    border-left: 3px solid var(--cor02);
    border-bottom: 1px solid rgba(202, 206, 206, 0.486);


}

#divvendas {
    background-color: rgb(252, 253, 200);

}

span {
    color: rgba(53, 54, 59, 0.849);
    font-weight: 600;
    font-size: 15px;
}

#valorvenda {
    font-weight: 800;
    font-size: 25px;
    color: rgba(238, 14, 14, 0.849);


}

#valorvenda-fixo {
    font-weight: 800;
    font-size: 20px;
    color: rgba(238, 14, 14, 0.849);


}


#valorvenda-fixo {
    display: none;
    opacity: 0%;



}

#resultados-fixo {
    display: none;
    width: 0px;
    background-color: rgb(252, 253, 200);
    opacity: 0%;
    box-shadow: -0px -10px 20px 0px rgba(0, 0, 0, 0.158);


}

#p-fixo {
    display: none;
}

#p-fixo:after {
    content: '';
}

.icones-compartilhar{
    width: 100%;
    height: 300px;
}


footer {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(49, 54, 49);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    bottom: 0;
    margin-top: 100px;


}


footer>p {
    display: flex;
    font-family: var(--fonte1);
    color: rgb(255, 255, 255);
    font-size: 14px;

}

footer>p>img {
    width: 20px;

}



/*TELAS MENOS INICIO */

/*Resolução 1147*/
@media (max-width: 1117px) {

    section {
        width: 80%;


    }
}


/*Resolução 1115*/
@media (max-width: 1115px) {

    section {
        width: 90%;


    }
}

/*Resolução 925*/
@media (max-width: 925px) {

    section {
        width: 95%;
    }

    main.contaner1 {
        width: 56%;

    }

    main.contaner2 {
        width: 38%;


    }
}


/*Resolução 735*/
@media (max-width: 735px) {

    section {
        width: 95%;
    }

    main.contaner1 {
        width: 56%;

    }

    main.contaner2 {
        width: 38%;


    }
}


/*Resolução 500*/
@media (max-width: 500px) {

    section {
        width: 96%;
        padding: 10px;


    }

    main.contaner1 {
        width: 95%;
        padding: 0px;

    }

    main.contaner2 {
        width: 95%;
        justify-items: center;
        padding: 0px;

    }


    input {
        width: 96%;


    }

    .botoes {

        width: 95%;



    }

    #valorvenda {
        font-weight: 800;
        font-size: 18px;



    }

    /*barra fixa*/
    #resultados-fixo {
        display: none;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        padding: 7px;
    }

    #resultados-fixo {
        opacity: 100%;
        background-color: rgb(252, 253, 200);
        padding: 10px;


    }

    #valorvenda-fixo {
        display: flex;
        opacity: 100%;


    }



    #p-fixo {
        opacity: 100%;
        display: flex;

    }

    #p-fixo:after {
        content: 'Valor Venda:';

    }

    footer {
        position: relative;
        bottom: 0;


    }

}